[Desktop Entry]
Name=xxgdb
Type=Application
Comment=bare-bones graphical debugger
Comment[de]=Ein einfacher graphischer Debugger
Comment[pl]=Graficzny interfejs pod X Window do debuggera gdb
Comment[sv]=Mycket simpelt grafiskt felsökningsverktyg
Icon=xxgdb.png
Exec=xxgdb
# vi: encoding=utf-8
